.about {
  width: 100%;
  min-height: 90vh; 
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 45vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  align-items: center;
  padding: 50px 20px; 
  box-sizing: border-box;
  text-align: center;
}

.aboutBottom p {
  width: 80%; 
  max-width: 1200px; 
  line-height: 1.6;
  font-size: 18px;
  color: #333;
}

.about .aboutBottom h1 {
  font-weight: 600;
  font-size: 70px;
  color: #121619;
  margin-bottom: 20px; 
}

/* --- MEDIA QUERIES --- */
@media only screen and (max-width: 900px) {
  .aboutTop {
    height: 35vh;
  }
  .aboutBottom {
    padding: 30px 15px;
  }
  .aboutBottom p {
    width: 90%;
    font-size: 16px;
  }
  .about .aboutBottom h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 600px) {
  .aboutTop {
    height: 30vh;
  }
  .about .aboutBottom h1 {
    font-size: 35px;
  }
}