.home {
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  width: auto;
  margin-left: 80px;
  margin-top: 60px;
}

.headerContainer h1 {
  font-size: 90px;
  color: black;
}

.headerContainer p {
  font-size: 35px;
  margin-bottom: 20px;
  color: #e8462a;
}

.headerContainer button {
  background-color: #121619;
  color: white;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 180px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.headerContainer button:hover {
  background-color: #07090a;
}

/* Tablets */
@media (max-width: 1024px) {
  .headerContainer {
    margin-left: 40px;
  }

  .headerContainer h1 {
    font-size: 60px;
  }

  .headerContainer p {
    font-size: 28px;
  }
}

/* Mobiles */
@media (max-width: 600px) {
  .home {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .headerContainer {
    margin: 0;
    background-color: rgba(18, 22, 25, 0.8);
    padding: 20px;
    border-radius: 10px;
  }

  .headerContainer h1 {
    font-size: 40px;
    color: white;
  }

  .headerContainer p {
    font-size: 20px;
    color: white;
  }

  .headerContainer button {
    background-color: white;
    color: #121619;
  }
}